*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Aver, Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}


button {
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}